body {
  max-width: 1980px;
}
.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__top {
  width: 100%;
  height: 40px;
  background-color: #939878;
}
.header__frame {
  display: none;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 9%;
  padding-right: 9%;
}
.footer__mylogo {
  width: 150px;
}
.footer__mylogo img {
  width: 100%;
}
.footer__mymenu {
  width: 30%;
}
.footer__spisok {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spisok__li {
  list-style: none;
  padding: 5%;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

footer a:hover {
  color: beige;
}

.footer__icons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mycard__container {
  margin-left: 2%;
  display: grid;
  place-items: center;
  gap: 50px;
  align-items: stretch;
  grid-template-areas: "A B .";
  padding-bottom: 5%;
  padding-top: 1%;
  font-family: "Roboto", sans-serif;
}
.mycard__information div {
  display: flex;
  flex-direction: row;
}
.one {
  color: #939878;
  font-weight: 500;
}
.hcg-slider-body {
  grid-template: A;
}
.mycard__information {
  grid-template: B;
  padding-top: 10%;
}
#hcg-slider-1 .hcg-slide-container {
  width: 450px;
  height: 450px;
}
.hcg-slider-body {
  height: 100%;
  width: 100%;
}
.hcg-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}
.hcg-slides {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #ffffff;
}
.hcg-slides img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
#hcg-slide-prev,
#hcg-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover,
#hcg-slide-next:hover {
  background-color: #000c;
}
.hcg-slide-dot-control {
  margin-top: 10px;
  text-align: center;
}
.hcg-slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.hcg-slide-dot.dot-active {
  background-color: #717171;
}
.hcg-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@media screen and (max-width: 950px) {
  .header__mymenu {
    display: none;
  }

  .myheader__bytton {
    background-color: #939878;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
  }
  .myheader__bytton {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: small;
  }
  header {
    margin-bottom: 3%;
  }
  .mycard__container {
    margin-left: 2%;
    display: grid;
    place-items: center;
    gap: 50px;
    align-items: stretch;
    grid-template-areas: "A" "B";
    padding-bottom: 5%;
    padding-top: 1%;
    font-family: "Roboto", sans-serif;
  }
  .mycard__information div {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 8%;
  }
  .mycard__information h1 {
    text-align: center;
  }
  .one {
    color: #939878;
    font-weight: 500;
  }
  .footer__mylogo {
    display: none;
  }

  .footer__mymenu {
    width: 40%;
    margin-top: 2%;
  }
  .footer__spisok {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .spisok__li {
    padding: 0%;
    text-align: left;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
  }
  .footer__icons img {
    width: 70%;
  }
  #hcg-slider-1 .hcg-slide-container {
    width: 90%;
    height: 90%;
  }
}
