body{
    max-width: 1980px;
}
.header{ 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__top{
    width: 100%;
    height: 40px;
    background-color: #939878;
}
.header__frame{
    width: 98%;
    display: flex;
    height:75px;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}
.header__mylogo{
    width: 150px;
}
.header__mylogo img{
    width: 100%;
}
.header__mymenu{
    width: 30%;
}
.header__spisok{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.spisok__li{
    list-style: none;
    padding: 5%;
}

header a{
    text-decoration: none;
    color: black;
}

.myheader__bytton{ 
    background-color: #939878;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;

}
.myheader__bytton a{
    color: white;
    font-family: 'Roboto', sans-serif;

}


footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 9%;
    padding-right: 9%;
}
.footer__mylogo{
    width: 150px;
}
.footer__mylogo img{
    width: 100%;
}
.footer__mymenu{
    width: 30%;
}
.footer__spisok{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.spisok__li{
    list-style: none;
    padding: 5%;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer a:hover{
    color: beige;
}

.footer__icons{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}